*~
.\#*
\#*

.DS_Store
data/thor_offline_data
data/thor_v1_offline_data
runs/
*.pyc
.idea/

data/
data.zip
train/
train.zip

mjolnir_o.json
saved_action_mjolnir_o.log
saved_action_savn_test.log

savn_test.json

trained_models
